---
layout: default
title: Vancouver Snowboarding
image: https://vancouversnowboarding.files.wordpress.com/2021/09/output-1.jpg
---

{% if page.url == "/" %}

<div class="jumbotron" style="background-image: url('https://vancouversnowboarding.files.wordpress.com/2021/09/output-1.jpg'); background-size: cover; background-position: center;">
  <font color="white">
  <h2 class="display-5">
    Detailing the various resorts and trails in and around Vancouver, BC, Canada
  </h2>
  <p class="lead">
  Grouse, Seymour, and Revelstoke mountains.
  </p>
  <p class="lead">
  <!-- <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/about" role="button">Learn more</a> -->
  </p>
  </font>
</div>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
      <!-- about -->
      <div class="col-md-6 mb-30px">
        <div class="listfeaturedtag h-100">
          <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
              <div class="h-100">
                <div class="wrapthumbnail">
                  <a href="/about">
                    <img class="featured-box-img-cover" src="https://vancouversnowboarding.files.wordpress.com/2021/01/a.jpg"/>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
              <div class="h-100 card-group">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">
                      <a class="text-dark" href="/about">About VancouverSnowboarding.ca</a>
                    </h2>

                    <h4 class="card-text">What is all about?</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

